---
layout: page
title: Categories
icon: fa-tags
permalink: categories/
sidebar_hidden: true
---

{% for category in site.categories %}
<div class="related">
  {% capture category_name %}{{ category | first }}{% endcapture %}
  <a name="{{ category_name | slugize }}"></a>
  <h2 id="#{{ category_name | slugize }}">{{ category_name }}</h3>
  <ul class="related-posts">
    {% for post in site.categories[category_name] %}
      {% include post-reference.html %}
    {% endfor %}
  </ul>
</div>
{% endfor %}

